{% extends "base.html" %}

{%block content%}
    <h1>Task List</h1>

    <form method="POST" action="/tasklist/">
        {% csrf_token %}
        {{TaskForm.title}}
        {{TaskForm.description}}
        {{TaskForm.complete}}
      
        <button name="Create" class=" btn btn-success" type="submit">Save</button>
    </form>

    <table class="table table-hover">
        
        <tr>
            <th>TODO</th>
            <th>Description</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        
        {% for task in tasks%}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.complete}}</td>
                <td><a href="{% url 'updatetask' task.id %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a></td>
                <td><a href="{% url 'deletetask' task.id %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a></td>
            </tr>
      
        {% endfor %}
    </table>
{% endblock %}