<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Query Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form method="post" action="/editquery">
      <table>
        <tr>
          <th>Query:</th>
          <td><input type="text" name="question" /></td>
        </tr>
        <tr>
          <th>Answer:</th>
          <td><input type="text" name="answer" /></td>
        </tr>
        <tr>
          <th></th>
          <td><button name="save" type="submit">Save</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
