{% extends "layout.html" %}
{% block title %}
List Question
{% endblock %}

{% block content %}
    <table border="1">
    <TR>
        <TH>ID</TH>
        <TH>Question</TH>
        <TH>Answer</TH>
    </TR>
   {%for x in questions%}
   <TR>
        <TD>{{x[0]}}</TD>
        <TD>{{x[1]}}</TD>
        <TD>{{x[2]}}</TD>
        
        <TD>
           <form action="/update" method="get">
                <button name="Edit" type="submit" value="{{x[0]}}">Edit</button>
            </form>
        </TD>
        <TD>
            <form action="/delete" method="get">
                 <button name="Delete" type="submit" value="{{x[0]}}">Delete</button>
             </form>
         </TD>

   </TR>
    {%endfor%}

</table>

{% endblock %}