{% extends "layout.html" %}
{% block title %}
Edit Questions
{% endblock %}
{% block content %}
        
<h1>Update</h1>
        <form method="post" action="/update">
          <table>
            <tr>
              <th>Query:</th>
              <td><input type="text" name="question" value="{{ question[0][1] }}"/></td>
            </tr>
            <tr>
              <th>Answer:</th>
              <td><input type="text" name="answer" value="{{ question[0][2] }}"/></td>
            </tr>
            <tr>
              <th></th>
              <td><button name="save" type="submit">Update</button></td>
            </tr>
          </table>
          {{msg}}
        </form>      
{% endblock %}